<!--Marks Page-->
<!DOCTYPE HTML>

<html>

<!--Head-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Title-->
    <title>Marks</title>

    <!--CSS Stylesheet-->
    <link rel="stylesheet" href="../static/index.css" type="text/css">
    <link rel="stylesheet" href="../static/changegrade.css" type="text/css">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<!--Body-->

<body>
    <!--Top Navigation Bar-->
    <div class="topnav">
        <a href="home">Home</a>
        <a href="https://piazza.com/class/kju7e2uwa8p3sf">Piazza</a>
        <a href="https://markus.utsc.utoronto.ca/cscb63w21/">MarkUs</a>
        <a href="lectures">Lectures</a>
        <a href="tutorials">Tutorials</a>
        <a href="assignments">Assignments</a>
        <a href="tests">Tests</a>
        <a href="feedback_redirect">Anonymous Feedback</a>
        <a class="active" href="#top">Marks</a>
        {% if session['sori'] == 'i' %}
        <a href="allremarkrequests">Remark Requests</a>
        {% endif %}
        <a href="logout">Log Out</a>
    </div>

    <!--Title (Page name and description)-->
    <div id="main-content">
        <div id="title-container">
            <h1 id="home" class="title">All Student Marks</h1>
        </div>
        <hr id="other">
    </div>

    <!--Marks Table-->
    <div class='table-container'>
        <div class='row'>
            {% for item in table_header %}
            <div class='column little'>
                <div class='header-column'>
                    <b>{{item}}</b>
                </div>
            </div>
            {% endfor %}
        </div>
        {% for student_user in mark_dict %}
        <div class='row' id="{{student_user}}">
            {% for key in mark_dict[student_user] %}
            <div class='column little'>
                <div class='r-column' id="{{key}} {{student_user}}">
                    {{mark_dict[student_user][key]}}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <!--Changing a student grade-->
    <div id="main-content">
        <div id="title-container">
            <h1 id="home" class="title">Change a Grade</h1>
        </div>
        <hr id="other">
    </div>

    <div class="center-2">
        <div class="info">
            <form action="change_student_grade" name="grade-change" method="POST">
                <p><label><b>Student Name</b></label></p>
                <select name="student_user" id="user_names">
                    {% for key in users.keys() %}
                    <option value="{{key}}">{{users[key]}}</option>
                    {% endfor %}
                </select>
                <div id="grade_name">
                    <p><label><b>Grade to change</b></label></p>
                    <select name="grade_db_name" id="grade_db_name_selector">
                        {% for key in grades.keys() %}
                        <option value="{{key}}">{{grades[key]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="mark">
                    <p><label><b>Change mark to</b>
                            <div id="mark_msg"></div>
                        </label></p>
                    <input type="number" name="changed_mark" placeholder="Enter new mark">
                </div>
                <br>
                <div class="submit-btn">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <div id="hidden">
        {{message}}
    </div>


    <!--Footer-->
    <footer id="main-footer">
        <p class="blurb">
            <!--Instructor Info-->
            <b>Dr. Anna Bretscher</b>: <a class="flink"
                href="mailto: anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a>
        </p>
        <p class="blurb-">
            <!--TA 1 Info-->
            <b>TA John Smith</b>: <a class="flink"
                href="mailto: anna.bretscher@utoronto.ca">john.smith@mail.utoronto.ca</a>
        </p>
        <p class="blurb-">
            <!--TA 2 Info-->
            <b>TA Jane Smith</b>: <a class="flink"
                href="mailto: anna.bretscher@utoronto.ca">jane.smith@mail.utoronto.ca</a>
        </p>
        <p class="blurb-">
            <!--TA 3 Info-->
            <b>TA Jake Smith</b>: <a class="flink"
                href="mailto: anna.bretscher@utoronto.ca">jake.smith@mail.utoronto.ca</a>
        </p>
        <p class="blurb-1">
            <!--Link to UofT Computer Science Faculty-->
            <a class="flink" href="https://web.cs.toronto.edu/" target="blank_">Department of Computer Science at
                UofT</a>
        </p>
        <!--Blurb about who designed the website-->
        <p class="blurb-2">Site designed by Angela Ding, Ayazhan Bauyrzhankyzy, & Yihao Song.</p>
    </footer>

    <script src="../static/scripts/change_grade.js"></script>
</body>