<!--Course Description Page-->
<!DOCTYPE HTML>

<html>

<!--Head-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Title-->
    <title>CSCB63 Course Description</title>

    <!--CSS Stylesheet-->
    <link rel="stylesheet" href="css/index.css" type="text/css">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<!--Body-->

<body>
    <!--Top Navigation Bar-->
    <div class="topnav">
        <a href="index.html">Home</a>
        <a href="https://piazza.com/class/kju7e2uwa8p3sf">Piazza</a>
        <a href="https://markus.utsc.utoronto.ca/cscb63w21/">MarkUs</a>
        <a href="lectures.html">Lectures</a>
        <a href="tutorials.html">Tutorials</a>
        <a href="assignments.html">Assignments</a>
        <a href="tests.html">Tests</a>
        <a class="active" href="#top">Course Description</a>
    </div>

    <!--Title (Page name and description)-->
    <div id="main-content">
        <div id="title-container">
            <h1 id="home" class="title">Course Description</h1>
            <p id="home-1">See course description and marking scheme.</p>
        </div>
        <hr id="other">

        <!-- Course Description -->
        <div class="center-1">
            <div class="info">
                <h3>Course Description</h3>
                <p>
                    Design, analysis, implementation and comparison of efficient data structures for common abstract
                    data types. Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search
                    trees, B-trees, hashing. Amortization: data structures for managing dynamic tables and disjoint
                    sets. Data structures for representing graphs. Graph searches.
                </p>
                <!--Exclusions-->
                <p>
                    Exclusion: CSC263H, CSC265H, (CSCC78H)
                </p>
                <!--Prerequisites-->
                <P>
                    Prerequisite: CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]
                </P>
                <!--Syllabus Link-->
                <a href="index_links/syllabus.pdf">Syllabus</a>
            </div>
        </div>
    </div>

    <!--Title: Marking Scheme-->
    <div id="main-content">
        <div id="title-container">
            <h1 id="home" class="title">Marking Scheme</h1>
        </div>
        <hr id="other">
    </div>

    <!--Marking Scheme Table-->
    <div class='table-container'>
        <!--Row 1-->
        <div class='row'>
            <!--Column 1-->
            <div class='column medium'>
                <div class='header-column left-top'>
                    <b>Title</b>
                </div>
            </div>
            <!--Column 2-->
            <div class='column little'>
                <div class='header-column top'>
                    <b>Weight</b>
                </div>
            </div>
            <!--Column 3-->
            <div class='column'>
                <div class='header-column right-top'>
                    <b>Notes</b>
                </div>
            </div>
        </div>

        <!--Row 2-->
        <div class='row 2'>
            <!--Column 1-->
            <div class='column medium'>
                <div class='r-column left'>
                    Assignments
                </div>
            </div>
            <!--Column 2-->
            <div class='column little'>
                <div class='r-column middle'>
                    30%
                </div>
            </div>
            <!--Column 3-->
            <div class='column'>
                <div class='r-column right'>
                    3 assignments, 10% each
                </div>
            </div>
        </div>

        <!--Row 3-->
        <div class='row 3'>
            <!--Column 1-->
            <div class='column medium'>
                <div class='r-column left'>
                    Tests
                </div>
            </div>
            <!--Column 2-->
            <div class='column little'>
                <div class='r-column middle'>
                    30%
                </div>
            </div>
            <!--Column 3-->
            <div class='column'>
                <div class='r-column right'>
                    3 tests, 10% each
                </div>
            </div>
        </div>

        <!--Row 4-->
        <div class='row 4'>
            <!--Column 1-->
            <div class='column medium'>
                <div class='r-column left'>
                    Final Exam
                </div>
            </div>
            <!--Column 2-->
            <div class='column little'>
                <div class='r-column middle'>
                    40%
                </div>
            </div>
            <!--Column 3-->
            <div class='column'>
                <div class='r-column right'>
                    To pass the course, you must get at least 40% on the final exam.
                </div>
            </div>
        </div>

        <!--Row 5-->
        <div class='row 5'>
            <!--Column 1-->
            <div class='column medium'>
                <div class='r-column left-bottom'>
                    Total
                </div>
            </div>
            <!--Column 2-->
            <div class='column little'>
                <div class='r-column bottom'>
                    100%
                </div>
            </div>
            <!--Column 3-->
            <div class='column'>
                <div class='r-column right-bottom'>

                </div>
            </div>
        </div>
    </div>

    <!--Title: Anoymous Feedback-->
    <div id="main-content">
        <div id="title-container">
            <h1 id="home" class="title">Anonymous Feedback</h1>
        </div>
        <hr id="other">
    </div>

    <!--Feedback Form-->
    <div class="center-2">
        <div class="info">
            <p>
                Please leave any relevant feedback about the quality of lectures, assignments, and/or tests and help
                improve this course for future students. All feedback is completely anonymous. Follow this <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSd3n7-Bbh-QAGL2UbFvSDHviTs190ymw-OevVBmCRAIi2XDDQ/viewform?usp=sf_link">link</a> to
                Google Forms to share your thoughts with me.
            </p>
        </div>
    </div>

    <!--Footer-->
    <footer id="main-footer">
        <p class="blurb">
            <!--Instructor Info-->
            <b>Dr. Anna Bretscher</b>: <a class="flink" href="mailto: anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a>
        </p>
        <p class="blurb-">
            <!--TA 1 Info-->
            <b>TA John Smith</b>: <a class="flink" href="mailto: anna.bretscher@utoronto.ca">john.smith@mail.utoronto.ca</a>
        </p>
        <p class="blurb-">
            <!--TA 2 Info-->
            <b>TA Jane Smith</b>: <a class="flink" href="mailto: anna.bretscher@utoronto.ca">jane.smith@mail.utoronto.ca</a>
        </p>
        <p class="blurb-">
            <!--TA 3 Info-->
            <b>TA Jake Smith</b>: <a class="flink" href="mailto: anna.bretscher@utoronto.ca">jake.smith@mail.utoronto.ca</a>
        </p>
        <p class="blurb-1">
            <!--Link to UofT Computer Science Faculty-->
            <a class="flink" href="https://web.cs.toronto.edu/" target="blank_">Department of Computer Science at UofT</a>
        </p>
        <!--Blurb about who designed the website-->
        <p class="blurb-2">Site designed by Angela Ding & Ayazhan Bauyrzhankyzy.</p>
    </footer>
</body>